/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}


input[type="text"] {
  @apply bg-darker mb-2 p-2; 
  height: 36px;
}

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover, 
input[type="text"]:-webkit-autofill:focus, 
input[type="text"]:-webkit-autofill:active {
  -webkit-text-fill-color: #dadada; 
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #1e1e1e; 
  caret-color: #dadada;
}


.twitter-tweet {
  margin: 0 !important;
  background-color: #15202b;
}